@use "../../assets/globalVariables.scss" as globalVariables;

.bookingCard {
  background-color: globalVariables.$formBackgroundColor;
  border: 1px solid globalVariables.$formBorderColor;
  box-shadow: globalVariables.$boxShadow;
  border-radius: globalVariables.$borderRadius;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 20px;
  width: 25%;

  h2,
  p {
    margin: 0;
  }

  .firstImage {
    width: 100%;
    height: 50%;
  }

  .bookingDates {
    color: rgb(100, 100, 100);
    font-style: italic;
    font-size: 14px;
  }

  .error {
    color: red;
  }

  .btnsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    .editBtn {
      all: unset;
      color: white;
      font-weight: 500;
      padding: 10px 20px;
      background-color: rgb(179, 158, 0);
      border-radius: 5px;
      border: 1px solid black;
      cursor: pointer;
      &:hover {
        border-radius: 20px;
        background-color: rgb(222, 196, 0);
        transition: border-radius 0.6s, background-color 0.8s ease-out;
      }
    }

    .deleteBtn {
      all: unset;
      color: white;
      font-weight: 500;
      padding: 10px 20px;
      background-color: rgb(182, 0, 0);
      border-radius: 5px;
      border: 1px solid black;
      cursor: pointer;
      &:hover {
        border-radius: 20px;
        background-color: rgb(243, 0, 0);
        transition: border-radius 0.6s, background-color 0.8s ease-out;
      }
    }

    .detailsBtn {
      all: unset;
      cursor: pointer;
      border: 1px solid black;
      align-self: center;
      padding: 10px 20px;
      background-color: rgb(127, 127, 127);
      color: white;
      border-radius: globalVariables.$borderRadius;
      &:hover {
        border-radius: 20px;
        background-color: rgb(148, 148, 148);
        transition: background-color, border-radius 0.6s ease-out;
      }
    }
  }
}
