.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 40px 30px;
    border: 1px solid rgb(163, 163, 163);
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    .loginHeading {
      margin-bottom: 0px;
      font-weight: 100;
    }

    .emailContainer {
      width: 90%;
      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        height: 25px;
      }
    }

    .passwordContainer {
      width: 90%;
      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        height: 25px;
      }
    }

    .registerLinks {
      color: rgb(141, 141, 141);

      a {
        text-decoration: none;
      }
    }

    .loginBtn {
      all: unset;
      color: white;
      font-weight: 500;
      padding: 10px 40px;
      background-color: rgb(33, 174, 33);
      border-radius: 5px;
      border: 1px solid black;
      &:hover {
        border-radius: 20px;
        background-color: rgb(26, 218, 26);
        transition: border-radius 0.6s, background-color 0.8s ease-out;
      }
    }
  }
}

.error {
  color: red;
  display: block;
}
