@use "../../../assets/globalVariables.scss" as globalVariables;
@import url(https://use.fontawesome.com/releases/v6.4.0/css/all.css);

.introductionSection {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .introductionImage {
    width: 50%;
  }

  .introductionContentHidden {
    padding: 50px 50px;
    width: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }

  .introductionContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: rgb(75, 75, 75);
    padding: 50px 50px;
    width: 50%;
    opacity: 1;
    transform: translateX(0%);
    transition: transform 1s, opacity 1s ease-out;

    h1 {
      font-size: 30px;
      margin: 20px 0;
    }

    .motto {
      font-size: 22px;
    }

    .introductionContentDescription {
      font-size: 18px;
      margin: 0;
    }

    .introductionBtnsContainer {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 50px;
      margin-top: 40px;
      margin-bottom: 20px;

      .introductionGetStartedBtn {
        text-align: center;
        all: unset;
        cursor: pointer;
        color: white;
        font-weight: bold;
        background-color: globalVariables.$blueThemeBackgroundColor;
        padding: 20px 40px;
        border-radius: globalVariables.$borderRadius;
        &:hover {
          background-color: #769de6;
          transition: background-color 0.3s ease-out;
        }
      }

      .introductionSignInBtn {
        all: unset;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        color: globalVariables.$blueThemeBackgroundColor;
        background-color: rgb(222, 221, 221);
        padding: 20px 40px;
        border-radius: globalVariables.$borderRadius;
        &:hover {
          background-color: rgb(211, 211, 211);
          transition: background-color 0.3s ease-out;
        }
      }
    }
  }
}

.benefitsSection {
  background-color: globalVariables.$blueThemeBackgroundColor;
  padding: 60px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  h2 {
    font-size: 30px;
    margin: 0;
  }

  .benefitsDescription {
    font-size: 18px;
    text-align: center;
    margin: 20px;
  }

  .benefitCards {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
    column-gap: 10px;
    padding: 0px 10px;

    .benefitCardHidden {
      width: 20%;
      padding: 30px;
      opacity: 0;
      transform: translateX(-100%);

      i {
        opacity: 0;
      }
    }

    .benefitCard {
      display: flex;
      flex-flow: column nowrap;
      width: 20%;
      background-color: white;
      color: rgb(75, 75, 75);
      padding: 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 1;
      transform: translateX(0%);
      transition: transform 1s, opacity 1s ease-out;

      &:nth-child(1) {
        transition-delay: 200ms;
      }

      &:nth-child(2) {
        transition-delay: 800ms;
      }

      &:nth-child(3) {
        transition-delay: 1400ms;
      }

      h3 {
        font-size: 26px;
        margin: 25px 0;
      }

      i {
        color: globalVariables.$blueThemeBackgroundColor;
      }

      .benefitCardDescription {
        margin: 0;
        font-size: 18px;
      }
    }
  }
}

.testimonialsSection {
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: rgb(75, 75, 75);

  h2 {
    font-size: 30px;
    margin: 0;
  }

  .testimonialsDescription {
    font-size: 18px;
  }

  .testimonialCards {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;

    .testimonialCardHidden {
      opacity: 0;
      width: 20%;
      padding: 30px;
    }

    .testimonialCard:nth-child(1) {
      transition-delay: 200ms;
    }

    .testimonialCard:nth-child(2) {
      transition-delay: 600ms;
    }

    .testimonialCard:nth-child(3) {
      transition-delay: 1000ms;
    }

    .testimonialCard {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 20%;
      background-color: rgb(251, 251, 251);
      color: rgb(75, 75, 75);
      padding: 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 1;
      transition: opacity 1s ease-out;
      row-gap: 10px;

      .testimonialCardPersonImage {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      .testimonialPersonName {
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
      }

      .testimonialContent {
        font-size: 18px;
      }

      .starsList {
        margin: 0;
        list-style-type: none;
        padding: 0;
        margin-top: auto;

        li {
          display: inline-block;
          .yellowStar {
            color: rgb(237, 190, 0);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  h3 {
    text-align: center;
  }

  .benefitCard {
    i {
      text-align: center;
    }

    .benefitCardDescription {
      text-align: center;
    }
  }

  .testimonialContent {
    text-align: center;
  }
}
