.errorMessage {
  color: rgb(135, 0, 0);
}

.errorContainerWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(163, 163, 163);
    border-radius: 10px;
    padding: 20px 40px;
    h2 {
      margin: 0;
    }
  }
}
