#navBar {
  padding: 10px 40px;
  background-color: #8aaae5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  ul {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    .navBarItem {
      list-style: none;
    }

    .greeting {
      cursor: pointer;
    }
  }

  .navBarItem {
    .logoutBtn,
    .loginBtn,
    .registerBtn {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      padding: 5px 20px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: #7494ce;
        transition: background-color 0.2s ease-out;
      }
    }

    .myProperties,
    .myBookings {
      text-decoration: none;
      color: white;

      &:hover:after {
        background-color: white;
        height: 3px;
        width: 30px;
        border: none;
        content: "";
        display: block;
        margin: auto;
        border-radius: 10px;
        position: relative;
        top: 5px;
      }
    }
  }
}
.navLogoPicture {
  width: 100px;
  height: 80px;
}

.logoutBtn {
  all: unset;
  color: white;
}

.profilePicture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}
