.errorMessage {
  color: rgb(186, 12, 12);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.propertyCardsContainer {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
